<div class="cart-interface--qty-selector">
    <a href="#" class="qty-change minus">-</a>
    <input type="number" name="updates[]" value="{{ item.quantity }}" />
    <span class="qty-value">{{ item.quantity }}</span>
    <a href="#" class="qty-change plus">+</a>
</div>