<option disabled selected>Reason for Recycling*</option>
<option value="Damaged">Damaged</option>
<option value="Outdated">Outdated</option>
<option value="No Longer Needed">No Longer Needed</option>
<option value="Upgrading">Upgrading</option>
<option value="Broken Beyond Repair">Broken Beyond Repair</option>
<option value="Eco-Friendly Disposal">Eco-Friendly Disposal</option>
<option value="Corporate Sustainability">Corporate Sustainability</option>
<option value="Excess Inventory">Excess Inventory</option>
<option value="Other">Other</option>
