<style>
  .swiper-slide:has(.product-gallery--hide) {
    display: none;
  }
</style>

{%- assign product_types = '' -%}

{%- if types == true -%}
  {%- for product in products -%}
    {%- unless forloop.first -%}
      {%- assign product_types = product_types | append: '|' -%}
    {%- endunless -%}
    {%- assign product_types = product_types | append: product.type -%}
  {%- endfor -%}

  {%- assign product_types = product_types | split: '|' | uniq -%}

{%- elsif types != blank -%}
  {%- assign product_types = types | split: ',' -%}
{%- endif -%}

<div class="product-gallery">
  {% if types != blank %}
    <div class="product-gallery--filters">
      {% if product_types != '' %}
        {%- for type in product_types -%}
          {%- assign type_handle = type | handleize -%}
          {%- assign type_translation = translation | append: type_handle | replace: '-', '_' -%}
          <h3 class="product-gallery--title" data-product-type="{{ type }}" style="font-size: 1.5rem;">
            {{ type_translation | t }}
          </h3>
        {%- endfor -%}
      {%- endif -%}
    </div>
  {% endif %}

  <div class="swiper product-gallery--products">
    <div class="swiper-wrapper">
      {%- for product in products -%}
        <div class="swiper-slide">
          {% render 'product-gallery-item', product: product %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    let productGallerySwiper;

    // Function to initialize Swiper
    function initSwiper() {
      if (productGallerySwiper) {
        productGallerySwiper.destroy(true, true); // Remove old Swiper
      }

      productGallerySwiper = new Swiper(".product-gallery--products", {
        slidesPerView: 2,
        spaceBetween: 10,
        breakpoints: {
          768: { slidesPerView: 2 },
          1024: { slidesPerView: 2 },
        },
      });
    }

    // Initialize Swiper on page load
    initSwiper();

    // Handle filter clicks
    document.querySelectorAll(".product-gallery--title").forEach((filter) => {
      filter.addEventListener("click", function () {
        initSwiper();
      });
    });
  });
</script>
