<div class="product--details--afterpay">
    <a class="icon-afterpay" href="https://afterpay.com.au" target="_blank">
        {% render 'icon', icon: 'afterpay' %}
        <a class="product--details--afterpay--link" href="https://afterpay.com.au" target="_blank">Info</a>
    </a>
</div>