
<template class="product-index--interface--swatch-template">
    <a href="#" data-product-id="" title="" class="swatch"></a>
</template>

<template class="product-index--images-template">
    <div class="product-index--images--overlay--image lazyload-animation" data-product-id="">
        <img data-src="" class="lazyload" />
    </div>
</template>

<template class="product-index--interface--variants-template">
    <div class="add-variants--product sold-out" data-product-id="" data-variant-id=""></div>
</template>

<template class="product-index--interface--variants-item-template">
    <a href="#" data-variant-id="" class="variant-item sold-out"></a>
</template>
