<div class="main-sustainability">
  <div class="container">
    <div class="sus-wrap">
      <div class="sus-images">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'menu' %}
              <div
                class="sus-image"
                data-id="sus-image--{{ section.id }}-{{ block.settings.image.id }}"
              >
                {% render 'responsive-image',
                  classes: 'sus-image__item',
                  image: block.settings.image,
                  sizes: '1920,4500'
                %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>

      <div class="sus-content"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Sustainability",
  "settings": [

  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "label": "Number",
          "default": "I"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "title"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content_section",
      "name": "Content Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "Image Title",
          "default": "Image Title"
        },
        {
          "type": "text",
          "id": "image_desc",
          "label": "Image Desc",
          "default": "Image Desc"
        },
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Content Title"
        },
        {
          "type": "text",
          "id": "content_desc",
          "label": "Content Desc",
          "default": "Content Desc"
        },
      ]
    },
    {
      "type": "content_block",
      "name": "Content Block",
      "settings": [
        {
          "type": "number",
          "id": "number_section",
          "label": "Link to section"
        },
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Content Title"
        },
        {
          "type": "text",
          "id": "content_desc",
          "label": "Content Desc",
          "default": "Content Desc"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Sustainability"
    }
  ]
}
{% endschema %}
