{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}

{%- assign products = pageUrl | split:'handles=' | last | split: ',' -%}

<div class="product-index">
   {% for handle in products %}
      {% assign product = all_products[handle] %}
      {% if product != blank %}
         {% render 'product-index', product: product %}
      {% endif %}
  {% endfor %}
</div>