<div class="table-size size-guide-table-wrapper">
  <table>
    <tbody>
      <tr>
        <td class="highlighted">FELLA SIZE</td>
        <td>AU</td>
        <td>US</td>
        <td>UK</td>
        <td>FR/ESP</td>
        <td>EU</td>
        <td>JP</td>
      </tr>
    </tbody>
  </table>
</div>

{% schema %}
{
  "name": "Table size",
  "settings": [
    {
      "type": "number",
      "id": "totalColumn",
      "label": "Total Column",
      "default": 7
    },
    {
        "type": "checkbox",
        "id": "switchSize",
        "label": "Switch CM/IN",
        "default": false
    },
  ],
  "blocks": [
    {
      "type": "col",
      "name": "Rowumn",
      "settings": [
        {
          "type": "checkbox",
          "id": "boldRow",
          "label": "Bold column",
          "default": false
        },
        {
          "type": "text",
          "id": "cmRow1",
          "label": "Row 1 CM",
          "default": "XS"
        },
        {
          "type": "text",
          "id": "inRow1",
          "label": "Row 1 IN",
          "default": "XS"
        },
        {
          "type": "text",
          "id": "cmRow2",
          "label": "Row 2 CM",
          "default": "S"
        },
        {
          "type": "text",
          "id": "inRow2",
          "label": "Row 2 IN",
          "default": "S"
        },
        {
          "type": "text",
          "id": "cmRow3",
          "label": "Row 3 CM",
          "default": "M"
        },
        {
          "type": "text",
          "id": "inRow3",
          "label": "Row 3 IN",
          "default": "M"
        },
        {
          "type": "text",
          "id": "cmRow4",
          "label": "Row 4 CM",
          "default": "L"
        },
        {
          "type": "text",
          "id": "inRow4",
          "label": "Row 4 IN",
          "default": "L"
        },
        {
          "type": "text",
          "id": "cmRow5",
          "label": "Row 5 CM",
          "default": "XL"
        },
        {
          "type": "text",
          "id": "inRow5",
          "label": "Row 5 IN",
          "default": "XL"
        },
        {
          "type": "text",
          "id": "cmRow6",
          "label": "Row 6 CM",
          "default": "10D"
        },
        {
          "type": "text",
          "id": "inRow6",
          "label": "Row 6 IN",
          "default": "10D"
        },
        {
          "type": "text",
          "id": "cmRow7",
          "label": "Row 7 CM",
          "default": "10DD"
        },
        {
          "type": "text",
          "id": "inRow7",
          "label": "Row 7 IN",
          "default": "10DD"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table size"
    }
  ]
}
{% endschema %}
