<div class="table-size size-guide-table-wrapper">
  <table>
    <tbody>
      <tr>
        <td class="highlighted">FELLA SIZE</td>
        <td>AU</td>
        <td>US</td>
        <td>UK</td>
        <td>FR/ESP</td>
        <td>EU</td>
        <td>JP</td>
      </tr>
    </tbody>
  </table>
</div>

{% schema %}
{
  "name": "Table size",
  "settings": [
    {
      "type": "number",
      "id": "totalColumn",
      "label": "Total Column",
      "default": 7
    },
    {
        "type": "checkbox",
        "id": "switchSize",
        "label": "Switch CM/IN",
        "default": false
    },
  ],
  "blocks": [
    {
      "type": "col",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "boldCol",
          "label": "Bold column",
          "default": false
        },
        {
          "type": "text",
          "id": "cmCol1",
          "label": "Col 1 CM",
          "default": "XS"
        },
        {
          "type": "text",
          "id": "inCol1",
          "label": "Col 1 IN",
          "default": "XS"
        },
        {
          "type": "text",
          "id": "cmCol2",
          "label": "Col 2 CM",
          "default": "S"
        },
        {
          "type": "text",
          "id": "inCol2",
          "label": "Col 2 IN",
          "default": "S"
        },
        {
          "type": "text",
          "id": "cmCol3",
          "label": "Col 3 CM",
          "default": "M"
        },
        {
          "type": "text",
          "id": "inCol3",
          "label": "Col 3 IN",
          "default": "M"
        },
        {
          "type": "text",
          "id": "cmCol4",
          "label": "Col 4 CM",
          "default": "L"
        },
        {
          "type": "text",
          "id": "inCol4",
          "label": "Col 4 IN",
          "default": "L"
        },
        {
          "type": "text",
          "id": "cmCol5",
          "label": "Col 5 CM",
          "default": "XL"
        },
        {
          "type": "text",
          "id": "inCol5",
          "label": "Col 5 IN",
          "default": "XL"
        },
        {
          "type": "text",
          "id": "cmCol6",
          "label": "Col 6 CM",
          "default": "10D"
        },
        {
          "type": "text",
          "id": "inCol6",
          "label": "Col 6 IN",
          "default": "10D"
        },
        {
          "type": "text",
          "id": "cmCol7",
          "label": "Col 7 CM",
          "default": "10DD"
        },
        {
          "type": "text",
          "id": "inCol7",
          "label": "Col 7 IN",
          "default": "10DD"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table size"
    }
  ]
}
{% endschema %}
