<div class="table-size size-guide-table-wrapper">
  <table>
    <tbody>
      <tr>
        <td class="highlighted">FELLA SIZE</td>
        <td>AU</td>
        <td>US</td>
        <td>UK</td>
        <td>FR/ESP</td>
        <td>EU</td>
        <td>JP</td>
      </tr>
      <tr>
        <td class="highlighted">XS</td>
        <td>8A</td>
        <td>30A</td>
        <td>30A</td>
        <td>80A</td>
        <td>65A</td>
        <td>65B</td>
      </tr>
      <tr>
        <td class="highlighted">S</td>
        <td>8B</td>
        <td>30B</td>
        <td>30B</td>
        <td>80B</td>
        <td>65B</td>
        <td>65C</td>
      </tr>
      <tr>
        <td class="highlighted">*</td>
        <td>8C</td>
        <td>30C</td>
        <td>30C</td>
        <td>80C</td>
        <td>65C</td>
        <td>65D</td>
      </tr>
      <tr>
        <td class="highlighted">10D</td>
        <td>8D</td>
        <td>30D</td>
        <td>30D</td>
        <td>80D</td>
        <td>65D</td>
        <td>65E</td>
      </tr>
      <tr>
        <td class="highlighted">10DD</td>
        <td>8DD</td>
        <td>30DD</td>
        <td>30DD</td>
        <td>80DD</td>
        <td>65DD</td>
        <td>65F</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>8E</td>
        <td>30E</td>
        <td>30E</td>
        <td>80E</td>
        <td>65E</td>
        <td>65G</td>
      </tr>
      <tr>
        <td class="highlighted">XS</td>
        <td>10A</td>
        <td>32A</td>
        <td>32A</td>
        <td>85A</td>
        <td>70A</td>
        <td>70B</td>
      </tr>
      <tr>
        <td class="highlighted">S</td>
        <td>10B</td>
        <td>32B</td>
        <td>32B</td>
        <td>85B</td>
        <td>70B</td>
        <td>70C</td>
      </tr>
      <tr>
        <td class="highlighted">M</td>
        <td>10C</td>
        <td>32C</td>
        <td>32C</td>
        <td>85C</td>
        <td>70C</td>
        <td>70D</td>
      </tr>
      <tr>
        <td class="highlighted">10D</td>
        <td>10D</td>
        <td>32D</td>
        <td>32D</td>
        <td>85D</td>
        <td>70D</td>
        <td>70E</td>
      </tr>
      <tr>
        <td class="highlighted">10DD</td>
        <td>10DD</td>
        <td>32DD</td>
        <td>32DD</td>
        <td>85DD</td>
        <td>70DD</td>
        <td>70F</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>10E</td>
        <td>32E</td>
        <td>32E</td>
        <td>85E</td>
        <td>70E</td>
        <td>70G</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>12A</td>
        <td>34A</td>
        <td>34A</td>
        <td>90A</td>
        <td>75A</td>
        <td>75B</td>
      </tr>
      <tr>
        <td class="highlighted">S</td>
        <td>12B</td>
        <td>34B</td>
        <td>34B</td>
        <td>90B</td>
        <td>75B</td>
        <td>75C</td>
      </tr>
      <tr>
        <td class="highlighted">M</td>
        <td>12C</td>
        <td>34C</td>
        <td>34C</td>
        <td>90C</td>
        <td>75C</td>
        <td>75D</td>
      </tr>
      <tr>
        <td class="highlighted">L</td>
        <td>12D</td>
        <td>34D</td>
        <td>34D</td>
        <td>90D</td>
        <td>75D</td>
        <td>75E</td>
      </tr>
      <tr>
        <td class="highlighted">10DD</td>
        <td>12DD</td>
        <td>34DD</td>
        <td>34DD</td>
        <td>90DD</td>
        <td>75DD</td>
        <td>75F</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>12E</td>
        <td>34E</td>
        <td>34E</td>
        <td>90E</td>
        <td>75E</td>
        <td>75G</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>14A</td>
        <td>36A</td>
        <td>36A</td>
        <td>95A</td>
        <td>80A</td>
        <td>80B</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>14B</td>
        <td>36B</td>
        <td>36B</td>
        <td>95B</td>
        <td>80B</td>
        <td>80C</td>
      </tr>
      <tr>
        <td class="highlighted">M</td>
        <td>14C</td>
        <td>36C</td>
        <td>36C</td>
        <td>95C</td>
        <td>80C</td>
        <td>80D</td>
      </tr>
      <tr>
        <td class="highlighted">L</td>
        <td>14D</td>
        <td>36D</td>
        <td>36D</td>
        <td>95D</td>
        <td>80D</td>
        <td>80E</td>
      </tr>
      <tr>
        <td class="highlighted">XL</td>
        <td>14DD</td>
        <td>36DD</td>
        <td>36DD</td>
        <td>95DD</td>
        <td>80DD</td>
        <td>80F</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>14E</td>
        <td>36E</td>
        <td>36E</td>
        <td>95E</td>
        <td>80E</td>
        <td>80G</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>16A</td>
        <td>38A</td>
        <td>38A</td>
        <td>100A</td>
        <td>85A</td>
        <td>85B</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>16B</td>
        <td>38B</td>
        <td>38B</td>
        <td>100B</td>
        <td>85B</td>
        <td>85C</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>16C</td>
        <td>38C</td>
        <td>38C</td>
        <td>100C</td>
        <td>85C</td>
        <td>85D</td>
      </tr>
      <tr>
        <td class="highlighted">L</td>
        <td>16D</td>
        <td>38D</td>
        <td>38D</td>
        <td>100D</td>
        <td>85D</td>
        <td>85E</td>
      </tr>
      <tr>
        <td class="highlighted">XL</td>
        <td>16DD</td>
        <td>38DD</td>
        <td>38DD</td>
        <td>100DD</td>
        <td>85DD</td>
        <td>85F</td>
      </tr>
      <tr>
        <td class="highlighted">-</td>
        <td>16E</td>
        <td>38E</td>
        <td>38E</td>
        <td>100E</td>
        <td>85E</td>
        <td>85G</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>

{% schema %}
{
  "name": "Table size",
  "settings": [
    {
      "type": "number",
      "id": "totalColumn",
      "label": "Total Column",
      "default": 7
    },
    {
        "type": "checkbox",
        "id": "switchSize",
        "label": "Switch CM/IN",
        "default": false
    },
  ],
  "blocks": [
    {
      "type": "col",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "boldCol",
          "label": "Bold column",
          "default": false
        },
        {
          "type": "text",
          "id": "cmCol1",
          "label": "Col 1 CM",
          "default": "XS"
        },
        {
          "type": "text",
          "id": "inCol1",
          "label": "Col 1 IN",
          "default": "XS"
        },
        {
          "type": "text",
          "id": "cmCol2",
          "label": "Col 2 CM",
          "default": "S"
        },
        {
          "type": "text",
          "id": "inCol2",
          "label": "Col 2 IN",
          "default": "S"
        },
        {
          "type": "text",
          "id": "cmCol3",
          "label": "Col 3 CM",
          "default": "M"
        },
        {
          "type": "text",
          "id": "inCol3",
          "label": "Col 3 IN",
          "default": "M"
        },
        {
          "type": "text",
          "id": "cmCol4",
          "label": "Col 4 CM",
          "default": "L"
        },
        {
          "type": "text",
          "id": "inCol4",
          "label": "Col 4 IN",
          "default": "L"
        },
        {
          "type": "text",
          "id": "cmCol5",
          "label": "Col 5 CM",
          "default": "XL"
        },
        {
          "type": "text",
          "id": "inCol5",
          "label": "Col 5 IN",
          "default": "XL"
        },
        {
          "type": "text",
          "id": "cmCol6",
          "label": "Col 6 CM",
          "default": "10D"
        },
        {
          "type": "text",
          "id": "inCol6",
          "label": "Col 6 IN",
          "default": "10D"
        },
        {
          "type": "text",
          "id": "cmCol7",
          "label": "Col 7 CM",
          "default": "10DD"
        },
        {
          "type": "text",
          "id": "inCol7",
          "label": "Col 7 IN",
          "default": "10DD"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table size"
    }
  ]
}
{% endschema %}
